@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Montserrat:wght@400;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
body {
  display: flex;
  background: rgba(242, 238, 255, 0.5);
  min-height: 100vh;
  min-width: 100vw;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container > .form {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form {
  font-size: 12px;
}

.input-group {
  width: 500px;
  height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  border-radius: 20px;
}

.input-group:nth-child(1) {
  margin-right: 40px;
  background-color: white;
  margin-left: 40px;
  box-shadow: 0 3px 40px rgb(0 0 0 / 20%);
}

.input-group:nth-child(2) {
  background-color: white;
  margin-left: 40px;
  box-shadow: 0 3px 40px rgb(0 0 0 / 20%);
}

.form .input-group .title {
  text-align: center;
  color: #1f1e1e;
}

.input-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.1rem;
  color: #5d3ddb;
  position: relative;
}

.input-box label {
  position: absolute;
  bottom: 27px;
  left: 27px;
  transition: 0.2s ease-in-out;
}

.input-box input:focus ~ label {
  margin-bottom: 25px;
  background-color: white;
  width: 100px;
  text-align: center;
}

.input-box input:valid ~ label {
  margin-bottom: 25px;
  background-color: white;
  width: 100px;
  text-align: center;
}

.input-header .title {
  margin-bottom: 30px;
}

.input-box input {
  margin: 0.6rem 0;
  height: 50px;
  width: 100%;
  padding-left: 20px;
  border: 1px solid #5d3ddb;
  border-radius: 10px;
  box-shadow: 1px 1px 6px #0000001c;
  background-color: transparent;
}

.input-box input:focus-visible {
  outline: 1px solid #5d3ddb;
}

.input-box input::placeholder {
  color: #9b87e9;
}

.button-group button {
  width: 120px;
  margin-top: 1.5rem;
  border: none;
  background-color: #5d3ddb;
  padding: 0.62rem;
  border-radius: 7px;
  font-size: 0.8rem;
  font-weight: 600;
  color: #fff;
}

.button-group button:hover {
  background-color: #7d66da;
}

.criar-button {
  justify-content: space-between;
  display: flex;
  width: 100%;
}

.criar-button button {
  height: 43px;
  cursor: pointer;
}

.input-header {
  width: 85%;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.poker img {
  width: 180px;
  height: 110px;
}

.poker h1 {
  margin: 0 auto;
}

@media screen and (max-width: 1340px) {
  .container {
    width: 100%;
  }

  .container > .form {
    width: 100%;
    display: grid;
  }

  .input-group {
    margin-left: 0 !important;
    margin-right: 0 !important;
    max-width: 340px;
  }
}

@media screen and (max-width: 1064px) {
  .container {
    width: 100%;
    height: auto;
  }

  .input-group {
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 19rem;
    max-width: 340px;
  }
}

@media screen and (max-width: 280px) {
  .container {
    width: 100%;
    height: auto;
  }

  .input-group {
    flex-direction: column;
    flex-wrap: nowrap;
    max-height: 19rem;
    max-width: 260px;
  }
}
